:root {
  --heart-size: 120px;
  --heart-color: #f20044;
  --heart-background: #f20044;
  --background-color: #20235a;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.heart {
  width: var(--heart-size);
  height: var(--heart-size);
  background: var(--heart-background);
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px var(--heart-color);
  transition: all 0.5s ease;
  animation: beat 1s infinite alternate;
}

.heart.active {
  rotate: 180deg;
}

.heart .parabens {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
  z-index: 99;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  background: var(--heart-background);
  border-radius: 50%;
}

.heart::before {
  top: calc(var(--heart-size) / -2);
  left: 0;
}

.heart::after {
  top: 0;
  left: calc(var(--heart-size) / 2);
}

.heart div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  rotate: 22deg;
  position: absolute;
  z-index: 88;
  pointer-events: none;
}

.heart_text,
.heart_phrase,
.heart.active .parabens  {
  font-size: 1.2rem;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s ease;
  pointer-events: none !important
}

.heart div .heart_phrase {
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
}

/* quando clicar na classe heart, ativar a classe heart_phrase */

.heart:active div .heart_phrase {
  opacity: 1;
}

.heart:active div .heart_text {
  opacity: 0;
}

.heart:active,
.heart.active {
  scale: 1.1;
  animation: beat 1s infinite alternate;
}

.heart.active .parabens {
  opacity: 1;
  transform: rotate(202deg);
  font-size: 1.1rem;
  bottom: -10rem;
  right: 10rem;
  animation: to_center 2s ease-in-out;
}

.heart.active div .heart_phrase {
  opacity: 0
}

.heart.active div .heart_text {
  opacity: 0;
}

@keyframes beat {
  to {
    transform: rotate(-45deg) scale(1.1);
  }
}

@keyframes to_center {
  to {
    /* transform: rotate(22deg); */
    bottom: 0;
    right: 0;
  }
}