body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

.heart {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  animation: beat 1s infinite alternate;
  transform-style: preserve-3d;
}

.heart::before,
.heart::after {
  content: "";
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  position: absolute;
  transform: translateZ(-25px);
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50px;
}

@keyframes beat {
  to {
    transform: rotate(-45deg) scale(1.1);
  }
}


canvas {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}